# ignore ALL .log files
#*.log

# ignore ALL files in these directories:
old/
testarea/
2023/Plot/
2023/CNV_processed/
2023/HEX_raw
2024/Plot/
2024/CNV_processed/
2024/HEX_raw
2024/SBE_Pre_Cruise_Files_19-8228
2024/Cruise_Notes
2024/Certificate
2024/Log_Sheet
2024/CON_Calibration/8228 .cal
2025/Hex_raw
2025/CNV_processed/
2025/Plot/
CNV_converter_for_ODV/
hex_metadata_updater/test
station_metadata_form/.idea
station_metadata_form/data/
station_metadata_form/libs_moved_to_parent/
station_metadata_form/*.log
hex_metadata_updater/previous_versions
hex_metadata_updater/*.log
libs/
.idea/
oc_m_data_quality_entry/data/glacier_bay_ctd*
oc_m_data_quality_entry/data/oc_m_preload*
oc_m_data_quality_entry/testikle.json
oc_m_data_quality_entry/oc_m_submission_2025*
oc_m_data_quality_entry/*.log
oc_m_data_quality_entry/.idea
*__pycache__*

